[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-nerdtree-tabs"]
	path = home/.vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "home/.vim/bundle/phpcomplete.vim"]
	path = home/.vim/bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/puppet-syntax-vim"]
	path = home/.vim/bundle/puppet-syntax-vim
	url = git://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "home/.vim/bundle/tabline.vim"]
	path = home/.vim/bundle/tabline.vim
	url = git://github.com/mkitt/tabline.vim
[submodule "home/.vim/bundle/vim-csharp"]
	path = home/.vim/bundle/vim-csharp
	url = git@github.com:OrangeT/vim-csharp.git
